@{
    ViewData["ParentTitle"] = "Quản lý kho";
    ViewData["Title"] = "Lịch sử xuất kho";
}
@section Styles {
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <style>
        .dtfc-fixed-right {
            background-color: white !important;
            border-left-color: #E4E6EF !important;
            border-left-style: dashed !important;
            border-left-width: 2px !important;
        }

        .dtfc-fixed-left {
            z-index: 999;
            background-color: white !important;
            border-right-color: #E4E6EF !important;
            border-right-style: dashed !important;
            border-right-width: 2px !important;
        }
    </style>
    <!--end::Page Vendor Stylesheets-->
}

    @*begin::Card filter*@
    <div class="card shadow-sm mb-5">
        <div class="card-header collapsible cursor-pointer rotate" data-bs-toggle="collapse" data-bs-target="#kt_docs_card_collapsible">
            <h3 class="card-title">Bộ lọc</h3>
            <div class="card-toolbar rotate-180">
                <span class="svg-icon svg-icon-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black" />
                    </svg>
                </span>
            </div>

        </div>
        <div id="kt_docs_card_collapsible" class="collapse show">
            <div class="card-body">
                <div class="row">

                    <div class="mb-5 col-lg-2 col-md-6">
                        <label class="form-label">
                            Chuyền
                        </label>
                        @await Component.InvokeAsync("LineMultiple")
                    </div>

                    <div class="mb-5 col-lg-2 col-md-6">
                        <label class="form-label">Mã linh kiện</label>
                        <input type="text" class="form-control form-control-solid" name="input_item_code" id="input_item_code"
                           placeholder="nhập mã linh kiện">
                    </div>

                    <div class="mb-5 col-lg-4 col-md-6">
                        <label for="" class="form-label">Khoảng thời gian</label>
                        <input class="form-control form-control-solid" placeholder="chọn thời gian" id="kt_daterangepicker" />
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-start">
                        <button type="button" class="btn btn-primary" id="search-btn">
                            <span class="indicator-label">
                                <span class="svg-icon svg-icon-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M21.7 18.9L18.6 15.8C17.9 16.9 16.9 17.9 15.8 18.6L18.9 21.7C19.3 22.1 19.9 22.1 20.3 21.7L21.7 20.3C22.1 19.9 22.1 19.3 21.7 18.9Z" fill="black" />
                                        <path opacity="0.3" d="M11 20C6 20 2 16 2 11C2 6 6 2 11 2C16 2 20 6 20 11C20 16 16 20 11 20ZM11 4C7.1 4 4 7.1 4 11C4 14.9 7.1 18 11 18C14.9 18 18 14.9 18 11C18 7.1 14.9 4 11 4ZM8 11C8 9.3 9.3 8 11 8C11.6 8 12 7.6 12 7C12 6.4 11.6 6 11 6C8.2 6 6 8.2 6 11C6 11.6 6.4 12 7 12C7.6 12 8 11.6 8 11Z" fill="black" />
                                    </svg> Tìm kiếm
                                </span>
                            </span>
                            <span class="indicator-progress">
                                Vui lòng đợi... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @*end::Card filter*@

    <!--begin::Card table-->
    <div class="card shadow-sm">
        <!--begin::Card header-->
        <div class="card-header border-0 pt-6">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <input type="text" data-kt-out-history-table-detail-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="tìm kiếm..." />
                </div>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->
            <!--begin::Card toolbar-->
            <div class="card-toolbar" id="dt_tools_detail">
            </div>
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-0">

            <!--begin::Datatable-->
            <table id="kt_out_history_detail" class="table table-striped border rounded gy-5 gs-7">
                <thead>
                    <tr class="fw-bold fs-6 text-gray-800">
                        <th class="text-center min-w-50px">Mã yêu cầu</th>
                        <th class="text-center min-w-50px">Chuyền</th>
                        <th class="text-center min-w-100px">Mã linh kiện</th>
                        <th class="text-center min-w-100px">Tên linh kiện</th>
                        <th class="text-center min-w-80px">Số po</th>
                        <th class="text-center min-w-100px">Po Item</th>
                        
                        <th class="text-center min-w-50px">Số Lot</th>
                        <th class="text-center min-w-20px">Delivery No</th>

                        <th class="text-center min-w-50px">Mã giá</th>
                        <th class="text-center min-w-30px">Số lượng</th>

                        <th class="text-center min-w-70px">Trạng thái</th>
                        <th class="text-center min-w-70px">Người nhập kho</th>
                        <th class="text-center min-w-150px">Thời gian nhập kho</th>
                        <th class="text-center min-w-70px">Người xuất kho</th>
                        <th class="text-center min-w-150px">Thời gian xuất kho</th>

                    </tr>
                </thead>
                <tbody class="text-gray-600 fw-bold">
                </tbody>
                <tfoot>
                    <tr class="fw-bolder fs-6">
                        <th colspan="9" class="text-nowrap align-end">Tổng:</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <!--end::Datatable-->

        </div>
        <!--begin::Card body-->
    </div>
    <!--end::Card table-->
    @section Scripts {
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    @*<script src="~/lib/dataTables.fixedColumns.min.js"></script>*@
    <!--end::Page Vendors Javascript-->

    <script src="~/js/outstock/outstock.js"></script>
}
