@{
    List<FactoryB.Models.LineModel> lines = Model;
}

<select class="form-select form-select-solid" id="sel_line" data-control="select2" data-placeholder="chọn chuyền"
        data-allow-clear="true" name="sel_line" >
    <option></option>
    @foreach (var item in lines)
    {
        <option value="@item.line_code">@item.line_name</option>
    }
</select>