﻿﻿@{
    List<FactoryB.Models.LineModel> lines = Model;
}

<select class="form-select form-select-solid" id="select_line_multiple" multiple data-control="select2" data-placeholder="chọn chuyền"
        name="select_line_multiple">
    <option></option>

    @foreach (var item in lines)
    {
        <option value="@item.line_code">@item.line_name</option>
    }
</select>
